/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

.clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

header {
	background-color: #D2B48C;
}

.logo {
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
}

i {
	font-size: 40px;
}

.navi {
	width: 1024px;
	margin: 0 auto;
}

nav {
	float: right;
}
.navlist {
	list-style: none;
	float: left;
	padding: 0 30px;
	line-height: 70px;
	font-size: 20px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: blue;
}

.topwrapper {
	height: 650px;
	width: 100%;
	background-image: image-url("cafe.jpg");
	background-size: cover;
	background-position: bottom;
}

.title {
	text-align: center;
	color: #FAFAFA;
	margin: 0 auto;
	padding-top: 100px;
}

.top-title {
	font-size: 64px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}

.c {
	color: #800000;
}

.about {
	height: 650px;
	width: 100%;
	background-color: #ECEFF1;
}

.about-title {
	padding-top: 50px;
	font-size: 32px;
	text-align: center;
}

.feature {
	height: 650px;
	width: 100%;
}

.feature-title {
	padding-top: 50px;
	font-size: 32px;
	text-align: center;
}

.contact {
	height: 300px;
	width: 100%;
	background-color: #ECEFF1;
}

.contact-title {
	padding-top: 20px;
	font-size: 32px;
	text-align: center;
}

footer {
	height: 30px;
	width: 100%;
	background-color: #D2B48C;
	bottom: 0;
}

.footer-text {
	color: white;
	text-align: center;
	padding-top: 5px;
}

.attachment {
	margin: 0 5px 10px 0;
}

.wrapper-contents {
	height: 610px;
}